{
  "extends": ["airbnb", "airbnb-typescript"],
  "ignorePatterns": ["craco.config.js"],
  "parserOptions": {
    "project": ["**/tsconfig.json"],
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "": "never",
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
      },
    ],
    "no-console": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/function-component-definition": [
      2,
      { "namedComponents": "arrow-function" },
    ],
    "linebreak-style": ["error", "windows"],
    "@typescript-eslint/comma-dangle": ["off"],
    //중괄호 줄바꿈 표시 -> 한줄로 되게끔 해주기
    "object-curly-newline": [
      "error",
      { "multiline": true, "consistent": true },
    ],
    "react/prop-types": "off", // PropTypes 검사 비활성화
    "arrow-body-style": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "operator-linebreak": "off",
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "./tsconfig.json",
      },
    },
  },
}
